/* styles.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: url('./Image.png') center center no-repeat;
  background-size: cover;
  color: #333;
}

/* Editor styles */
#editor-container {
  width: 45%;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#editor {
  width: 90%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
}


#preview {
  width: 70%;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: auto;
  white-space: pre-wrap; /* Allow content to wrap */
  word-wrap: break-word; /* Ensure long words wrap to the next line */
  height: 300px; /* Set a fixed height to enable the vertical scrollbar */
}



#previewer-container h1 {
  text-align: center; /* Center the heading */
  margin-bottom: 20px;
  color: black;
}


/* Headers styles */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color:black;
}

/* Footer styles */
#footer {
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
  color: red;
}
